.slideContainer{
    margin-top: 80px;
    width: 1360px;
    height: 830px;
    background-color: #ea5d8c;
    text-align: center;
  
} 

.slick-slide img {
    margin: 30px 350px;
    height: 300px;
    width: 300px;
}
