.home {
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  
    .cube {
      width: 100px;
      height: 100px;
      transform-style: preserve-3d;
      animation: spin 8s infinite linear;
      position: fixed;
      bottom: 100px;
      right: 100px;
  
      div {
        position: absolute;
        background-color: blue;
        width: 100px;
        height: 100px;
        opacity: 0.8;
  
        &.front {
          transform: translateZ(50px);
          background: linear-gradient(45deg, #06014e, #1d12b8);
        }
  
        &.back {
          transform: translateZ(50px);
          background: linear-gradient(45deg, #06014e, #1d12b8);
        }
  
        &.top {
          transform: rotateX(90deg) translateZ(50px);
          background: linear-gradient(45deg, #06014e, #1d12b8);
        }
  
        &.bottom {
          transform: rotateX(90deg) translateZ(-50px);
          background: linear-gradient(45deg, #06014e, #1d12b8);
        }
  
        &.left {
          transform: rotateY(90deg) translateZ(50px);
          background: linear-gradient(45deg, #06014e, #1d12b8);
        }
  
        &.right {
          transform: rotateY(90deg) translateZ(-50px);
          background: linear-gradient(45deg, #06014e, #1d12b8);
        }
      }
    }
  }

  .options {
    display: none;
    position: absolute;
    top: 20%;
    left: 85%;
    z-index: 1;
  
    .option {
      display: inline-block;
      margin: 10px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #6eff4a;
      color: white;
      line-height: 60px;
      text-align: center;
      cursor: pointer;
      transition: transform 0.3s ease-in;
  
      &:hover {
        transform: scale(1.1);
        opacity: 0.8;
      }
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }

  .section-padding1 {
    background:  #2329667c;
    height: 1000px; 

  }
  .section-padding2 {
    background:  #2329667c;
    width: auto;
    height: 1000px; 
  }
  .section-padding3 {
    background:  #2329667c;
    width: auto;
    height: 1000px;
    
  }
  .slideContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 1160px;
    height: 530px;
    background-color: #d3a2b300;
    text-align: center;
  }
  .slider{
    max-width: 650px;
    .img{
      justify-content: center;
      align-items: center;
    }
    
  }
  .card-table{ 
    background-color: #234c667c;
    align-items: center;
   
  }
  .cardMedia-post{
    object-fit: contain;
    justify-content: center;
    align-items: center;
    display: block;   
    max-width: 650px;
    max-height: 350px;
  }
  .CardContent{
    background-color: #234c667c;
  }


  .card .button:hover {
    background-color: #0056b3;
    color: #fff; 
    border: none; 
    padding: 8px 16px; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 14px; 
  }

  .modal-slide {
    position: fixed;
    width: 10px;
    height: 30px;
    display: flex;
    .Box-slide {
      position: absolute;
      top: 20%;
      left: 20%;    
      background-color: #234c66;
      padding: 10px;
      max-width: 550px;
      margin-left: 400px;
      img{
        width: 500px;
        height: 300px;
      }

    }
  }
  .modal-service-info{
    text-align: center;
  }
  .button-fav-group{
    background-color: #234c66;
    display: flex;
    justify-content: right;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .Table-fav {
    border-bottom: 2px solid #E0E0E0;
    margin: 0 0 15px;
    padding: 0 0 15px;
    align-items: center;
    justify-content: center;

  
    tr{
      display: block;
      padding: 8px;
      text-align: center;
      
      justify-content: center;
      
    } 
    td {  
      border-top:2px solid #E0E0E0;
      padding: 8px;
      
      justify-content: center;
    }
    th{
      text-align: center;
      color:#4d4745;
      
      justify-content: center;
    }

  }
  .table-image {
    width: 250px; 
    height: 250px; 
  }
  .footer3 {
    margin: 10px;
    position:static;
    bottom: 0;
    width: 100%;
    background-color:black;
    height: 150px;
    text-align: center; /* Alinea el contenido al centro si es necesario */
  }
.Ubicacion{
  font-size: 13px;
  margin: 5px 60px;
  width: 50px;
  height: 50px;
}
.ubicacion-icon {

  width: 50px; /* Cambia el ancho a 50px */
  height: 50px; /* Cambia la altura a 50px */
}
.texto-blanco {
  
  color: white; /* Configura el color del texto en blanco */
  /* Otros estilos personalizados para el texto en blanco si es necesario */
}
.Telefono{

  font-size: 14px;
  color: white;
  margin: -112px 80px;
  
} p {
  font-size: 13px;
  margin-top: 10px;
  padding: 2px;
  
} a{
  color: white;
} 
.Redes {
  margin: -15px 50px;
  color: white;

  svg {
    
    width: 45px;
    height: 45px;
    margin-right: 15px;  /* Agrega espacio entre elementos SVG */

    // Estilos adicionales para los elementos svg
    path {
      fill: white;  // Cambia el color de relleno de los paths
      stroke: black;  // Cambia el color del borde de los paths
      stroke-width: 2;  // Cambia el grosor del borde de los paths
    }
  }
}
.Telefono img {
  width: 50px;
  color: #0056b3;
}

.Politica{
  
  margin: -70px 70px;
  text-align: right;
  color: white;
}
.Politica img{
  margin: 0px 40px;
}



  
